// imports
@use "../abstracts/abstracts" as *;

// dashboard
.dashboard {
  &-header {
    background-color: var(--BGTop);
    transition: $mainTransition;
    height: 35vh;

    @include responsive(md) {
      height: auto;
    }

    &-content {
      @include maxWidthLg;
      @include sectionSpacing;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__title {
      @include headingStyles;
      font-size: size(xxl);
      color: var(--text-primary);
      transition: $mainTransition;
    }

    &__lead {
      @include textStyles;
      font-size: size(xs);
      color: var(--text-secondary);
      transition: $mainTransition;
    }
  }

  &-content {
    @include maxWidthLg;
    transform: translateY(-15rem);
    padding: 0 2rem;

    @include responsive(md) {
      transform: translateY(0);
    }
  }

  &-primary-cards {
    &-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      padding: 5rem 0;

      @include responsive(lg) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include responsive(md) {
        grid-template-columns: 1fr;
      }
    }
  }

  &-overview-cards {
    padding-bottom: 2rem;

    &__title {
      @include headingStyles;
      font-size: size(xl);
      color: var(--text-primary);
      transition: $mainTransition;
      padding-bottom: 2rem;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      @include responsive(lg) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include responsive(md) {
        grid-template-columns: 1fr;
      }
    }
  }
}
