// imports
@use "../abstracts/abstracts" as *;

// primary card
.primary-card {
  text-align: center;
  padding: 3rem;
  transition: $mainTransition;
  border-radius: $radius;
  box-shadow: $cardShadow;
  background-color: var(--CardBG);
  position: relative;

  &--facebook::before {
    content: "";
    background: color(facebook);
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
  }
  &--twitter::before {
    content: "";
    background: color(twitter);
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
  }
  &--instagram::before {
    content: "";
    background: linear-gradient(
      to right,
      rgb(253, 196, 104),
      rgb(223, 73, 150)
    );
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
  }
  &--youtube::before {
    content: "";
    background: color(youtube);
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
  }

  &__title {
    @include flexCenter;
  }

  &__logo {
    width: 2rem;
  }

  &__username {
    @include textStyles;
    font-size: size(xxs);
    padding: 0 0.5rem;
    color: var(--text-primary);
    transition: $mainTransition;
  }

  &__body {
    padding: 2.5rem 0;
  }

  &__number {
    @include headingStyles;
    font-size: size(xxl) + 3rem;
    color: var(--text-primary);
    transition: $mainTransition;
  }

  &__followers {
    @include textStyles;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: size(xs);
    color: var(--text-secondary);
    transition: $mainTransition;
  }

  &__footer {
    @include flexCenter;
  }

  &__icon {
    width: 2rem;
  }

  &__daily-stat {
    @include textStyles;
    font-size: size(xxs);
    padding: 0 0.5rem;
  }

  &__daily-stat--positive {
    color: color(limeGreen);
  }

  &__daily-stat--negative {
    color: color(brightRed);
  }
}

// overview card
.overview-card {
  padding: 2rem;
  background-color: var(--CardBG);
  box-shadow: $cardShadow;
  border-radius: $radius;
  transition: $mainTransition;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
  }

  &__stat-type {
    @include textStyles;
    font-size: size(xs);
    color: var(--text-primary);
    transition: $mainTransition;
  }

  &__logo {
    width: 2rem;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__number {
    @include headingStyles;
    font-size: size(lg);
    color: var(--text-primary);
    transition: $mainTransition;
  }

  &__daily-stats {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.5rem;
  }

  &__daily-stat {
    @include textStyles;
    font-size: size(xs) - 0.2rem;
  }

  &__daily-stat--positive {
    color: color(limeGreen);
  }

  &__daily-stat--negative {
    color: color(brightRed);
  }
}

// theme toggle
.theme-toggle {
  &__checkbox {
    opacity: 0;
    position: absolute;
  }

  &__label {
    width: 5rem;
    height: 2.6rem;
    background-color: var(--CardBG);
    transition: $mainTransition;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    transform: scale(1.2);
  }

  &__ball {
    width: 22px;
    height: 22px;
    background-color: var(--text-primary);
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    border-radius: 50%;
    transition: $mainTransition;
  }

  &__checkbox:checked + &__label &__ball {
    transform: translateX(2.4rem);
  }

  .fa-moon {
    color: #f1c40f;
  }

  .fa-sun {
    color: #f39c13;
  }
}
